*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #f5f7fa;
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.containerOne{
    display: flex;
    position: relative;
    width: 30%;
    height: 100px;
    background-color: red;
}

.containerTwo{
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 30px;
    width: 70%;
    height: 5000px;
    left: 0;
    background-color: blue;
}

.bigRectOne{
    width: 100%;
    height: 100%;
    padding: 20px;
    position: absolute;
    background-color: pink;
}

.bigRectTwo{
    width: 100%;
    height: 100%;
    padding: 20px;
    position: absolute;
    background-color: green;
}

.bigRectThree{
    width: 100%;
    height: 100%;
    padding: 20px;
    background-color: pink;
}

.bigRectFour{
    width: 100%;
    height: 100%;
    padding: 20px;
    position: absolute;
    background-color: green;
}

.bigRectFive{
    width: 100%;
    height: 100%;
    padding: 20px;
    position: absolute;
    background-color: pink;
}

.bigRectSix{
    width: 100%;
    height: 100%;
    padding: 20px;
    position: absolute;
    background-color: green;
}

.bigRectSeven{
    width: 100%;
    height: 100%;
    padding: 20px;
    position: absolute;
    background-color: pink;
}