@import url('https://fonts.googleapis.com/css2?family=Cute+Font&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

body{
    background-color: #e8e1d8;
    overflow: hidden;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: start;
    align-items: center;
}

.containerOne {
    background-color: #e5ded4;
    width: 30%;
    height: 100%;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5% 0% 5% 0%;
    box-shadow:  0px 16px 25px black;
    z-index: 1;
}

.containerOne .card{
    height: 100%; 
    width: 65%;
    border-radius: 80px;
    margin: 2%;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.containerTwo{
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 30px;
    width: 70%;
    height: 1000px;
    left: 0;
    background-color: #e8e1d8;
    transition: all 1.5s cubic-bezier(0.68, -0.55, 0.45, 1.55);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.card:hover {
    box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.75);
    transition: all 3s ease-in-out;
    animation: pulse 1.5s infinite ease-in-out;
}

#_card1 {
    color: white;
    background-image: url('../Images/Monday.gif');
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: inset 45px 45px 54px #1d1d1f;
}

#_card2 {
    color: white;
    background-image: url('../Images/Tuesday.gif');
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: inset 45px 45px 54px #1d1d1f;
}

#_card3 {
    color: white;
    background-image: url('../Images/Wednesday.gif');
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: inset 45px 45px 54px #1d1d1f;
}

#_card4 {
    color: white;
    background-image: url('../Images/Thursday.gif');
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: inset 45px 45px 54px #1d1d1f;
}

#_card5 {
    color: white;
    background-image: url('../Images/Friday.gif');
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: inset 45px 45px 54px #1d1d1f;
}

#_card6 {
    color: white;
    background-image: url('../Images/Saturday.gif');
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: inset 45px 45px 54px #1d1d1f;
}

#_card7 {
    color: white;
    background-image: url('../Images/Sunday.gif');
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: inset 45px 45px 54px #1d1d1f;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}


.bigRect1, .bigRect2, .bigRect3, .bigRect4, .bigRect5, .bigRect6, .bigRect7{
    width: 600px;
    height: 600px;
    top: -100%;
    left: 30%;
    position: absolute;
    background-color: #fbf7fa;
    color: #0d0d0d;
    border : 30px solid #fbf7fa;
    box-shadow:  0px 16px 25px black;
    transition: all 1.5s cubic-bezier(0.68, -0.55, 0.45, 1.55);
}

.bigRect1 img, .bigRect2 img, .bigRect3 img, .bigRect4 img, .bigRect5 img, .bigRect6 img, .bigRect7 img{
    width: 100%;
    height: 60%;
    box-shadow: inset 18px 18px 36px #8f8f8f,
            inset -18px -18px 36px #ffffff;
}

h1{
    font-size: 4.5rem;
    margin: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: 'Cute Font', sans-serif;
}

h1 span{
    font-size: 1.5rem;
}

p{
    font-size: 1.2rem;
    margin: 5px;
    text-align: justify;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: 'Cute Font', sans-serif;

}

.bigRect1 img{
    border: 5px solid #755740;
}

.bigRect2 img{
    border: 5px solid #6B233A;
}

.bigRect3 img{
    border: 5px solid #A13530;
}
 
.bigRect4 img{
    border: 5px solid #1F2560;
}

.bigRect5 img{
    border: 5px solid #353B30;
}

.bigRect6 img{
    border: 5px solid #EFCB85;
}

.bigRect7 img{
    border: 5px solid #B4B43B;
}

@media screen and (max-width: 1440px) {
    .bigRect1, .bigRect2, .bigRect3, .bigRect4, .bigRect5, .bigRect6, .bigRect7{
        left: 20%;
    }

    .containerOne .card {
        height: fit-content;
        margin: 10px;
    }
}

@media screen and (max-width: 1024px) {
    .bigRect1, .bigRect2, .bigRect3, .bigRect4, .bigRect5, .bigRect6, .bigRect7{
        left: 10%;
    }

    .card h1{
        font-size: 3rem;
    }

    .containerOne .card {
        height: fit-content;
        margin: 20px;
    }

}

@media screen and (max-width: 768px) {
    .bigRect1, .bigRect2, .bigRect3, .bigRect4, .bigRect5, .bigRect6, .bigRect7{
        left: -5%;
        scale: 0.8;
    }

    .card h1{
        font-size: 2rem;
    }

    .containerOne .card {
        height: fit-content;
        margin: 20px;
    }
    
}

@media screen and (max-width: 425px) {
    .container{
        flex-direction: column-reverse;
    }

    .containerTwo{
        width: 100%;
        height: 100%;
        left: 0;
    }

    .containerOne{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        height: 200px;
        width: 100%;
        overflow-x: visible;
    }

    .containerOne .card {
        height: 150px;
        flex-basis: 50%;
        margin: 20px;
       
    }

    .bigRect1, .bigRect2, .bigRect3, .bigRect4, .bigRect5, .bigRect6, .bigRect7{
        left: -20%;
        scale: 0.6;
    }

    .card h1{
        font-size: 3rem;
    }

    
}

@media screen and (max-width:375px) {
    .bigRect1, .bigRect2, .bigRect3, .bigRect4, .bigRect5, .bigRect6, .bigRect7{
        left: -30%;
        scale: 0.5;
    }
}

@media screen and (max-width:320px){
    .bigRect1, .bigRect2, .bigRect3, .bigRect4, .bigRect5, .bigRect6, .bigRect7{
        left: -43%;
    }
}